<button (click)="leggiTuttiIRecords()">Leggi tutti i records</button>
<br>
<h1>Lista</h1>
<div class="doc" *ngFor="let doc of docs$ | async">
    <h3>{{doc.code}}</h3>
    {{doc.description}}
    
</div>

<div>
    <h3>Crea documento</h3>
    <form [formGroup]="form">
        <div>
            <input type="text" placeholder="Codice" formControlName="code">
        </div>
        <div>
            <input type="text" placeholder="Descrizione" formControlName="description">
        </div>        
        <button 
            (click)="creaDocumento()"
            [disabled]="form.invalid">
            Crea documento
        </button>
    </form>
</div>